.sosly-collapsible-hotbar {
    #hotbar {
        transition: transform 250ms ease;

        #hotbar-controls-left {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 0.25rem;

            .sosly-tray-toggle {
                grid-row: span 2;
                align-self: start;
            }
        }

        #action-bar,
        #hotbar-controls-right {
            transition: opacity 200ms ease;
        }

        &.collapsed {
            transform: translateY(calc(100% - var(--button-size) - 16px));

            #hotbar-controls-left {
                display: flex;
                flex-direction: row;
            }

            #action-bar,
            #hotbar-controls-right {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}
